* {
    font-family: Calibri;
}
body {
    background-color: slategray;
    color: antiquewhite;
}
.hero {
    text-align: center;
    padding: 40px;
    background-image: url(./resources/ryan-moreno-w1_4YH5IhDg-unsplash.jpg);
    font-size: larger;
}
h1 {
    text-decoration: underline;
}
.code {
    font-family: monospace;
    background-color: black;
    padding: 2px;
}
table {
    border-color: black;
}
thead {
    background-color: darkslategrey;
}
td {
    text-align: center;
    padding: 2px 4px;
}